/*color*/
/*media queries*/
@-webkit-keyframes load-spinner {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes load-spinner {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes page {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes page {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.after_load {
  -webkit-animation: page 0ms 222.5s both;
  animation: page 0ms 222.5s both;
  background-color: white;
}

@-webkit-keyframes slide {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  src: url("../../fonts/Roboto/Roboto-light.ttf") format("truetype");
  src: url("../../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
body {
  max-width: 1440px;
  box-sizing: border-box;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }
}
body main {
  max-width: 1440px;
  margin: auto;
  padding: 0 1.85rem;
}
@media only screen and (max-width: 768px) {
  body main {
    padding: 0;
  }
}

h1 {
  margin-left: 1.85rem;
  font-family: "Shrikhand", sans-serif;
}

span {
  font-weight: lighter;
}

p, h2, h3, h4, a, button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.header__logo {
  margin: 1rem 2rem;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0rem;
  background-color: #eaeaea;
  box-shadow: inset 0px 10px 10px #dfdfdf;
}
.searchbar__logo {
  margin-right: 2%;
  width: 20px;
  height: 20px;
}
.searchbar__input {
  width: 140px;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  background-color: #eaeaea;
  padding: 0.5rem;
  font-weight: bold;
  color: #000;
}

.header__body {
  background-color: #fcfcfc;
  padding: 2rem 1.85rem;
  margin-bottom: 2rem;
}
.header__body h2 {
  width: 75%;
  font-size: 1.5rem;
}
.header__body p {
  width: 80%;
}

@media only screen and (max-width: 500px) {
  .container__logo {
    text-align: center;
  }
  .container__logo .header__logo {
    width: 150px;
  }
}
@media only screen and (max-width: 500px) {
  .header__body {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
  }
  .header__body h2 {
    margin: 0;
  }
}
.footer {
  background-color: #353535;
}
.footer a {
  color: white;
}
@media only screen and (max-width: 768px) {
  .footer a {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 500px) {
  .footer a {
    font-size: 0.8rem;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  width: 30%;
  line-height: 2rem;
}
.footer .footer__logo {
  margin-bottom: 2rem;
  width: 200px;
}
.footer__iconlink {
  display: flex;
  align-items: center;
}
.footer__iconlink img {
  margin-right: 5%;
  width: 20px;
  height: 20px;
}
.footer__link--hover:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  .footer__container {
    width: 80%;
  }
  .footer .footer__logo {
    width: 110px;
    margin-bottom: 1rem;
  }
}
.functioning {
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.functioning h2 {
  width: 100%;
  margin-left: 1.85rem;
}

.restaurant {
  background-color: #fcfcfc;
  padding: 2rem 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 850px;
}
.restaurant h2 {
  width: 100%;
  margin: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .restaurant {
    height: 1300px;
  }
}
@media only screen and (max-width: 500px) {
  .restaurant {
    height: 1100px;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header__menu .fas {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #000;
  margin: 0rem 1.85rem;
}

@media only screen and (max-width: 500px) {
  .header__logo {
    width: 150px;
    margin: 1rem auto;
  }

  .fa-arrow-left {
    position: absolute;
    top: 20px;
  }
}
.picture_menu {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0% 65%;
  object-position: 0% 65%;
}

.part_menu {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.menu {
  background-color: #fcfcfc;
}
.menu__head {
  display: flex;
  align-items: center;
  position: relative;
}
.menu .menu__like {
  display: none;
  position: absolute;
  color: black;
  right: 10%;
  cursor: pointer;
  font-size: 1.5em;
}
.menu .menu__like--hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: all 350ms;
  transform: scale(1);
  transform-origin: center;
}
.menu .menu__like--hover:hover {
  transform: scale(1.11);
  opacity: 1;
}

.contain-btn__order {
  width: 100%;
  display: flex;
  justify-content: center;
}

h3 {
  width: 100%;
  margin: 2rem 1.85rem;
  background-color: #99E2D0;
  text-align: center;
  border-radius: 2rem;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    background-color: #fcfcfc;
    text-align: left;
    margin: 2rem 0rem;
    display: block;
    position: relative;
    width: auto;
  }

  .menu__section_title::after {
    content: "";
    height: 3px;
    width: 40px;
    background-color: #99E2D0;
    display: block;
    position: absolute;
    bottom: -8px;
  }

  .menu {
    background-color: #fcfcfc;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin-top: 300px;
  }
  .menu .menu__like {
    display: block;
  }
  .menu .menu__button {
    width: 85%;
  }
  .menu .part_menu {
    flex-direction: column;
    justify-content: center;
  }

  .picture_menu {
    position: absolute;
    top: 55px;
    z-index: -1;
    -o-object-position: 25%;
    object-position: 25%;
  }
}
.loading {
  position: absolute;
  width: 190px;
  z-index: -1;
  top: 30%;
  right: 45%;
}
@media only screen and (max-width: 768px) {
  .loading {
    top: 20%;
    right: 36%;
  }
}
@media only screen and (max-width: 500px) {
  .loading {
    right: 24%;
  }
}
@media only screen and (max-width: 320px) {
  .loading {
    right: 15%;
  }
}

.spinner {
  background-color: #99E2D0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  background: repeating-linear-gradient(#FF79DA, #9356DC, #99E2D0);
  -webkit-animation: load-spinner 0.7s linear infinite;
  animation: load-spinner 0.7s linear infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner::before {
  width: 130px;
  height: 130px;
  top: 10px;
  left: 10px;
  background-color: white;
}

.loading__text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #9356DC;
  margin-top: 15px;
}

.header__btn {
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  border: none;
  box-shadow: gray 0px 2px 8px 0px;
  background-color: #eaeaea;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.header__btn:hover {
  background-color: #f2eafb;
  box-shadow: gray 0px 5px 10px 0px;
}

@media only screen and (max-width: 500px) {
  .header__btn {
    padding: 1rem 2rem;
  }
}
.menucard {
  background: #ffffff;
  width: 40%;
  height: 35%;
  display: flex;
  position: relative;
  border-radius: 2rem;
  border: none;
  box-shadow: gray 0px 2px 8px 0px;
}
.menucard__like {
  position: absolute;
  color: black;
  bottom: 40px;
  right: 30px;
  cursor: pointer;
  font-size: 1.5em;
}
.menucard__like--hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 350ms;
  transform: scale(1);
  transform-origin: center;
}
.menucard__like--hover:hover {
  transform: scale(1.11);
  opacity: 1;
}
.menucard__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
  color: #000;
}
.menucard__link .menucard__new {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 0.5rem 1rem;
  right: 20px;
  top: 20px;
}
.menucard__link .menucard__body {
  width: 70%;
  margin-left: 5%;
}
.menucard__link .menucard__body h2 {
  font-size: 1.2em;
  margin: 5% 0;
}
.menucard__img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 60%;
  object-position: 50% 60%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%;
  height: 70%;
}

@media only screen and (max-width: 768px) {
  .menucard {
    width: 70%;
    height: 20%;
  }
  .menucard__like {
    bottom: 30px;
  }
  .menucard__body {
    line-height: 0.5em;
    margin-top: 1%;
  }
}
@media only screen and (max-width: 500px) {
  .menucard {
    width: 95%;
    height: 22%;
  }
  .menucard__like {
    bottom: 25px;
  }
  .menucard__body {
    line-height: 0.7em;
    margin-top: 3%;
  }
  .menucard h2 {
    font-size: 1em;
  }
  .menucard p {
    font-size: 0.8em;
  }
}
.functioning__btn {
  width: 300px;
  padding: 1.5rem 2rem;
  margin: 20px 20px;
  border-radius: 2rem;
  border: none;
  box-shadow: gray 0px 2px 8px 0px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.functioning__btn:hover {
  background-color: #f2eafb;
  box-shadow: gray 0px 5px 10px 0px;
}
.functioning__btn:hover i {
  color: #9356DC;
}
.functioning__btn .fas {
  color: gray;
  font-size: 1.5em;
}
.functioning__btn .btn__number {
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  border-radius: 5rem;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  left: -18px;
}

@media only screen and (max-width: 500px) {
  .functioning__btn {
    padding: 1rem 2rem;
  }
  .functioning__btn .fas {
    font-size: 1.2em;
  }
}
.menu__btn {
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  width: 350px;
  border-radius: 1rem;
  box-shadow: gray 0px 5px 8px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  padding: 0;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .menu__btn {
    width: 95%;
    margin-right: 0;
  }
}
.menu__btn .price {
  position: absolute;
  right: 13px;
  bottom: 0px;
  font-weight: bold;
  transform: translate(0);
  transition: transform 450ms 60ms;
}
@media only screen and (max-width: 500px) {
  .menu__btn .price {
    font-size: 0.8em;
  }
}
.menu__btn p {
  margin: 10px 10px;
}
.menu__btn:hover .price {
  transform: translate(-76px);
}
@media only screen and (max-width: 500px) {
  .menu__btn:hover .price {
    transform: translate(-60px);
  }
}
.menu__btn:hover .fas {
  transform: rotate(1turn);
}
.menu__btn:hover .card__check {
  transform: translateX(-76px);
}
.menu__btn:hover .card__text {
  width: 60%;
}
.menu__btn:hover .card__title {
  width: 70%;
}
.menu__btn .card__text {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: width 350ms linear;
  width: 100%;
  font-size: 0.9em;
}
@media only screen and (max-width: 500px) {
  .menu__btn .card__text {
    font-size: 0.8em;
  }
}
.menu__btn .card__title {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: width 200ms 50ms linear;
}

.card__check {
  background-color: #99E2D0;
  width: 75px;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transform: translate(0px);
  right: -76px;
  transition: transform 450ms ease-in-out;
  position: absolute;
}
@media only screen and (max-width: 500px) {
  .card__check {
    width: 60px;
  }
}
.card__check .fas {
  color: white;
  font-size: 2em;
  transition: transform 450ms;
}
@media only screen and (max-width: 500px) {
  .card__check .fas {
    font-size: 1.5em;
  }
}

.menu__btn--anim1 {
  -webkit-animation: slide 0.5s;
  animation: slide 0.5s;
}

.menu__btn--anim2 {
  -webkit-animation: slide 1s;
  animation: slide 1s;
}

.menu__btn--anim3 {
  -webkit-animation: slide 1.5s;
  animation: slide 1.5s;
}

.menu__btn--anim4 {
  -webkit-animation: slide 2s;
  animation: slide 2s;
}

.btn__order {
  margin: 2rem 10rem;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
  border: none;
  box-shadow: gray 0px 2px 8px 0px;
  background-color: #eaeaea;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.btn__order p {
  margin: 0;
}
.btn__order:hover {
  background-color: #f2eafb;
  box-shadow: gray 0px 5px 10px 0px;
}
@media only screen and (max-width: 768px) {
  .btn__order {
    margin: auto;
    padding: 1rem 3rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
  }
}

/*# sourceMappingURL=main.css.map */
