.header__btn{
    padding: 1.5rem 2rem;
    @include border-btn;
    background: linear-gradient($color-secondary, $color-primary);
    color: $color-card;
    font-weight: bold;
    cursor: pointer;
    width: 280px;
        &:hover{
        background-color: lighten($color-primary, 35%);
        box-shadow: gray 0px 5px 10px 0px;
    }
}

@media #{$phone}{
    .header__btn{
        padding: 1rem 2rem;
     
        
    }
}