.loading{
    position: absolute;
    width: 190px;
    z-index: -1;
    top: 30%;
    right: 45%;
    @media #{$tablet} {
        top: 20%;
        right: 36%;
    }
    @media #{$phone} {
        right: 24%;
      
    }
}

.spinner{
    background-color:#99E2D0;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    background: -webkit-repeating-linear-gradient($color-secondary, $color-primary, $color-tertiary);
    -webkit-animation: load-spinner .7s linear infinite;
            animation: load-spinner .7s linear infinite;
}

.spinner::before,
.spinner::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.spinner::before{
    width: 130px;
    height: 130px;
    top: 10px;
    left: 10px;
    background-color: white;
    
}

.loading__text{
    font-size: 1.8rem;
    font-weight: bold;
    color: $color-primary;
    text-align: center;
    margin-top: 15px;
    
}