@font-face{
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    src: url('../../fonts/Roboto/Roboto-light.ttf') format('truetype');
    src: url('../../fonts/Roboto/Roboto-Black.ttf') format('truetype');
    src: url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Shrikhand';
    src: url('../../fonts/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}
body{
    padding: 0 2rem;
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto;
    @media #{$tablet} {
        padding: 0;
    }
    
}

h1{
    margin-left: 1.85rem;
    font-family: 'Shrikhand', sans-serif;  

}
span{
    font-weight: lighter;
}

p, h2, h3, h4, a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


a{
    text-decoration: none;
}

