/*color*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-logo: #000;
$color-footer: rgb( 53, 53, 53);
$color-header: rgb(252, 252, 252);
$color-searchbar: rgb(234, 234, 234);
$color-searchbar-border: rgb(223, 223, 223);
$color-card: #ffffff;


/*media queries*/
$tablet: "only screen and (max-width: 768px)";
$phone: "only screen and (max-width: 500px)";

